<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="testAngularApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="MainCtrl">
      {{text}}
      <div ng-repeat="school in ecoles">
        <strong>ECOLE : {{school.code}}</strong>
        <p>id:    {{school.id}}</p>
        <p>code:    {{school.code}}</p>
        <p>name:   {{school.name}} </p>
        <p>website:{{school.website}} </p>
        <p>phone: {{school.phone}}</p>
        <p>fax: {{school.fax}}</p>
        <p>urlBlog: {{school.urlBlog}}</p>
      </div>
      <div ng-model="ecoles">

        <select class="selectpicker" ng-model="getSchoolID">
          <option value="id">{{ecoles[0].name}}</option>
          <option value="id">{{ecoles[1].name}}</option>
        </select>
        <p>Code:</p>
        <input type="text" ng-model="ecoles.id.code">
        <p>ID:</p>
        <input type="text" ng-model="id"><br>
        <p>Ecole:</p>
        <input type="text" ng-model="name"><br>
        <p>Téléphone:</p>
        <input type="text" ng-model="phone"><br>
        <p>Fax:</p>
        <input type="text" ng-model="fax"><br>
        <p>Site:</p>
        <input type="text" ng-model="website"><br>
        <p>Email:</p>
        <input type="text" ng-model="email"><br>
        <p>Blog:</p>
        <input type="text" ng-model="urlBlog"><br>
      </div>

    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
